@{
    ViewData["Title"] = "Página prinicipal";
}

<div class="text-center">
    <h1 class="display-4">¿Quieres ver una película?</h1>
    <p>Learn about <a>Aquí encontrarás una lista de peliculas para poder interesarte a verlas!</a>.</p>
</div>
